* {
    max-width: 100%;
    background-color: grey;
}

.header {
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
}

.subheader {
    border: 4px solid black;
}

.subheader h2 {
    display: inline;
    align-items: center;
}

.writing {
    border: 4px solid black;

}

.music-videos {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
}



.instagram-media {

}





video {
    width: 400px;
    display: inline;
    margin: 20px;
}












@media screen and (max-width: 600px) {
    .music-videos {
        display: inline;
    }

    video {
        width: 200px;
        display: flex;
    }
  }