* {
    max-width: 100%;
    background-color: rgb(197, 234, 255);
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;


}

.header {
        text-align: center;
        margin-bottom: 10px;
}

.subheader {
    display: flex;
    margin-bottom: 10px;
}

.subheader h2 {
    color: red;
    margin: auto;
}

.writing {
    margin: 0px 10px;

}

.music-videos {
    width: auto;
}


.password {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;

}

.password-input {
    color: gray;
}



video {
    width: 90%;
    display: inline;
    margin: 8px 20px;
}





